#tester {
    margin: 30px;
    color: black;
}

body {
    background-color: #EBF0F2;
}

.headers {
    color: black;
    text-align: left;
    margin-left: 2%;
}

.text {
    color: black;
    line-height: normal;
    margin: 3%;
}