body {
    background-color: #EBF0F2;
    ;
}

#titlename {
    margin: 30px;
}

#meal_container {
    text-align: center;
}

#meal_table {
    text-align: center;
    margin: auto;
    width: 60%;
    color: black;
}

#dateForm,
#dateForm2 {
    display: flex;
    justify-content: center;
    margin: 10px;
    color: black;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: black;
}