body {
    background-color: #EBF0F2;
}

#promptSignIn {
    text-align: center;
    margin-top: 100px;
    color: black;
}

#signInForm {
    text-align: center;
}

.button {
    background-color: #BFD1DF;
    border-color: #BFD1DF;
    width: 250px;
    height: 50px;
    font-size: 25px;
    border-radius: 8px;
    margin-top: 10px;
}

.button:hover {
    background-color: #5B9EA6;
    border-color: #5B9EA6;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 200px;
}

#username {
    color: black;
    font-size: 35px;
    margin-top: 20px;
}

#profile {
    text-align: center;
}

#goal_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 50px;
}

#dailyGoal {
    color: black;
}

#change {
    background-color: #BFD1DF;
    border-color: #BFD1DF;
    width: 100px;
    font-size: 14px;
    border-radius: 8px;
    margin-top: 10px;
}

#change:hover {
    background-color: #5B9EA6;
    border-color: #5B9EA6;
}

label {
    font-size: 16px;
    color: black;
}

#change_pass_form {
    margin: 20px;
}